
.tables-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
    padding-left: 0;
    height: 70vh;
    overflow-y: auto;
}

.kitchenVue {
    position: fixed;
    top: 2em;
    right: 32px;
    padding: 1em;
}

