.logged-as {
    text-align: left;
    font-size: small;
    margin: 15px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px black;
    margin-top: 1%;
    background-color: rgb(80, 80, 141);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: left;
    padding: 5px;
    width: fit-content;
}